<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Супермаркет</title>
    <link rel="stylesheet" th:href="home.css" href="home.css" />
</head>
<body>


<nav class="navbar">
    <div class="container">
        <a href="/" class="brand">Zlagoda</a>
        <a href="/customers">Customer</a>
        <a href="/employee">Employee</a>
        <ul class="nav-links">
            <li><a href="/cart" class="cart-button">Кошик</a></li>
            <li><a href="/auth" class="cart-button">Login</a></li>
        </ul>
    </div>
</nav>


<main>
    <section class="product-grid">

        <div class="product-card">
            <img src="https://via.placeholder.com/150" alt="Назва товару" />
            <h3>Назва товару</h3>
            <p>Опис товару. Короткий опис характеристик та особливостей.</p>
            <p>Ціна: <span>100</span>₴</p>
            <button>У кошик</button>
        </div>

        <div class="product-card">
            <img src="https://via.placeholder.com/150" alt="Назва товару" />
            <h3>Назва товару</h3>
            <p>Опис товару. Короткий опис характеристик та особливостей.</p>
            <p>Ціна: <span>100</span>₴</p>
            <button>У кошик</button>
        </div>


        <div class="product-card">
            <img src="https://via.placeholder.com/150" alt="Назва товару" />
            <h3>Назва товару</h3>
            <p>Опис товару. Короткий опис характеристик та особливостей.</p>
            <p>Ціна: <span>100</span>₴</p>
            <button>У кошик</button>
        </div>


        <div class="product-card">
            <img src="https://via.placeholder.com/150" alt="Назва товару" />
            <h3>Назва товару</h3>
            <p>Опис товару. Короткий опис характеристик та особливостей.</p>
            <p>Ціна: <span>100</span>₴</p>
            <button>У кошик</button>
        </div>


        <div class="product-card">
            <img src="https://via.placeholder.com/150" alt="Назва товару" />
            <h3>Назва товару</h3>
            <p>Опис товару. Короткий опис характеристик та особливостей.</p>
            <p>Ціна: <span>100</span>₴</p>
            <button>У кошик</button>
        </div>


        <div class="product-card">
            <img src="https://via.placeholder.com/150" alt="Назва товару" />
            <h3>Назва товару</h3>
            <p>Опис товару. Короткий опис характеристик та особливостей.</p>
            <p>Ціна: <span>100</span>₴</p>
            <button>У кошик</button>
        </div>


        <div class="product-card">
            <img src="https://via.placeholder.com/150" alt="Назва товару" />
            <h3>Назва товару</h3>
            <p>Опис товару. Короткий опис характеристик та особливостей.</p>
            <p>Ціна: <span>100</span>₴</p>
            <button>У кошик</button>
        </div>

    </section>
</main>

<footer>
    <p>&copy; 2025 Zlagoda</p>
</footer>

</body>
</html>
